.myPage {
  width: 100%;
  height: calc(~"100% - 20px");

  .left {
    width: 240px;
    height: 100%;
    border-right: 1px solid #e8e8e8;
    text-align: center;
    padding-top: 50px;

    :global {
      .ant-avatar {
        width: 80px !important;
        height: 80px !important;
        margin-bottom: 10px;
      }
    }
  }

  .right {
    width: calc(~"100% - 240px");
    height: 100%;
    padding: 20px;
  }

  .item {
    display: flex;
    line-height: 40px;

    .label {
      color: #333;
      font-weight: 600;
      width: 30%;
      text-align: right;
    }

    .value {
      width: 70%;
      padding-left: 10px;
    }
  }

  .btn {
    width: 100%;
    text-align: center;

    :global {
      .ant-btn {
        width: 90px;
      }
    }
  }


}