.myPage {
  width: 100%;
  height: calc(~"100% - 20px");

  .avatar {
    position: relative;
    display: flex;

    .update {
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }


  .item {
    display: flex;
    line-height: 40px;

    .label {
      color: #333;
      font-weight: 600;
      width: 30%;
      text-align: right;
    }

    .value {
      width: 70%;
      padding-left: 10px;
    }
  }

  .btn {
    width: 100%;
    text-align: center;

    :global {
      .ant-btn {
        width: 90px;
      }
    }
  }


}